/.env
nexhacks/
data_raw/
Image_Compression_Testing/images
# dependencies
/node_modules
/.pnp
.pnp.*
# Root level
.DS_Store
*.pem

# Frontend
frontend/.env
frontend/.env.local
frontend/.env*.local
frontend/node_modules/
frontend/.pnp
frontend/.pnp.*
frontend/.next/
frontend/out/
frontend/build/
frontend/coverage/
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*
frontend/*.tsbuildinfo
frontend/next-env.d.ts

# Yarn
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# Vercel
.vercel

# Project specific
nexhacks/
